<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerPort" value="1000"/>
    <add key="TimeMeWallpaper" value="False"/>
    <add key="StreamVRFakeSBS" value="True"/>
    <add key="StreamVRShowMouse" value="False"/>
    <add key="StreamVRHeadmount" value="0"/>
    <add key="StreamVRLimitRes" value="0"/>
    <add key="StreamVRMaxFps" value="0"/>
    <add key="StreamVRMonitor" value="0"/>
  </appSettings>
</configuration>